body, html {
                
            width: 100%;
            height: 100%;
            background-color: rgb(100,200,200);
            margin: 0;
            padding: 0;

        }
        
        div#padArea {
            width: 100%;
            height: 90%;
            background-color: #b0e0e6;
            overflow: hidden;
            padding:10px;
            
        }
        
        div#controlBar {
            border: px solid black;
            width: 100%;
            height: 10%;
            background-color: grey;
            
        }
        
        canvas[nx="button"] {
            width: 20%;
            height: 20%;
        }
        
        canvas[nx="toggle"] {
            padding: 1px;
            right: 0;
        }
        
        canvas[nx="tabs"] {
            padding: 1px;
            right: 0;
        }
